    HOLA
    {{History.identificacion}}





<div class="col-md-12 form">
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Filtrar por fechas
                    </header>
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Fecha Inicio</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Fecha Fin</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                            </div>
                            
                            <button type="submit" class="btn btn-success">Consultar</button>
                        </form>

                    </div>
                </section>

            </div>
        </div>



        <section class="panel tasks-widget">
            <header class="panel-heading">
                Resultado de búsqueda
            </header>
            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th><b>ID</b></th>
                                        <th><b>Fecha</b></th>
                                        <th><b>Profesional</b></th>                                        
                                        <th><b>Pdf</b></th>
                                        <th><b>Correo Electrónico</b></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2017-09-25</td>
                                        <td>Juan Camilo Castro Arciniegas</td>
                                        <td><u><button type="button" class="btn btn-link btn-xs" ng-click="consult.generateProductNaturalPerson(item.admision)"><i class="fa fa-file-pdf-o"></i>PDF</button></u></td>
                                        <td><u><button type="button" class="btn btn-link btn-xs" ng-click="consult.generateProductNaturalPerson(item.admision)"><i class="fa fa-envelope"></i>E-Mail</button></u></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="panel panel-default">
            <header class="panel-heading">
                <i class="fa fa-folder-open-o"></i>   Historial
            </header>
            <div class="panel panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <center><h3>    Listado de @Descripcion  </h3></center>
                            </div>
                        </div>

                    </div>
                  

                    <section class="panel tasks-widget">
                        <header class="panel-heading">
                            Sortable Todo list
                        </header>
                        <div class="panel-body">
                            <div class="task-content">
                                <ul id="sortable" class="task-list ui-sortable">
                                    <li class="list-primary">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp">Flatlab is Modern Dashboard</span>
                                            <span class="badge badge-sm label-success">2 Days</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-danger">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Fully Responsive &amp; Bootstrap 3.0.2 Compatible </span>
                                            <span class="badge badge-sm label-danger">Done</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-success">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Daily Standup Meeting </span>
                                            <span class="badge badge-sm label-warning">Company</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-warning">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Write well documentation for this theme </span>
                                            <span class="badge badge-sm label-primary">3 Days</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-info">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> We have a plan to include more features in future update </span>
                                            <span class="badge badge-sm label-info">Tomorrow</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-inverse">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Don't be hesitate to purchase this Dashbord </span>
                                            <span class="badge badge-sm label-inverse">Now</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-primary">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Code compile and upload </span>
                                            <span class="badge badge-sm label-success">2 Days</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-success">
                                        <i class=" fa fa-ellipsis-v"></i>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="list-child" value="">
                                        </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Tell your friends to buy this dashboad </span>
                                            <span class="badge badge-sm label-danger">Now</span>
                                            <div class="pull-right hidden-phone">
                                                <button class="btn btn-success btn-xs fa fa-check"></button>
                                                <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class=" add-task-row">
                                <a class="btn btn-success btn-sm pull-left" href="#">Add New Tasks</a>
                                <a class="btn btn-default btn-sm pull-right" href="#">See All Tasks</a>
                            </div>
                        </div>
                    </section>

                </form>
            </div>

        </section>

    </div>
</div>