
<div class="col-md-12 form">
    <div class="content">
        <section class="panel panel-default">
            <header class="panel-heading">
                <i class="fa fa-folder-open-o"></i>   Nuevo Registro
            </header>
            <div class="panel panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <center><h3>    Nuevo Registro Clínico </h3></center>
                            </div>
                        </div>

                    </div>                    
                    <div class="form-group">
                        <div class="row" ng-repeat="item in NewRegister.listRegistros">

                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10">
                                <button class="btn btn-success btn-xs" ng-click="NewRegister.newRegister(item.RegistroClinicoId,item.Controller)"><i class="fa fa-check"></i></button>
                                {{item.Nombre}}
                            </div>
                        </div>
                    </div>
                    

                </form>
            </div>

        </section>

    </div>
</div>