<div class="col-md-12">
    <div class="body-500" style="background-color:transparent;color:#606060">
        <section class="error-wrapper">
            <i class="icon-500"></i>
            <h1>500</h1>
            <h2>{{errorHttp.title}}</h2>
            <p style="color:#ff6c60">Se ha producido un error de aplicaci&oacute;n en {{errorHttp.service}}</p>
            <button class="btn btn-danger page-404" ng-click="navigate.go('/')">
                <i class="fa fa-home fa-2x"></i>
            </button>
        </section>
    </div>
</div>