
<div class="modal fade big-message-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-if="data.closing" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title size-16px" ng-bind-html="data.title || 'Advertencia'"></p>
            </div>
            <div class="modal-body">
                <div class="big-message-v2">
                    <div class="row">
                        <div class="icon col-md-12">
                            <i class="fa fa-exclamation-triangle color-warning-v2"></i>
                        </div>
                        <div class="content col-md-12">
                            <p class="warning" ng-bind-html="data.message || 'El proceso ha generado una advertencia.'"></p>
                        </div>
                        <div class="text-center col-md-12 button">
                            <button ng-if="data.isFn" ng-click="funct()" type="button" data-dismiss="modal" aria-label="Close" class="button bg-color-warning-v2">
                                {{data.messageButton || 'Continuar'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="big-message-v2">
    <div class="row">
        <div class="icon col-md-12">
            <i class="fa fa-exclamation-triangle color-warning-v2"></i>
        </div>
        <div class="content col-md-12">
            <p class="title" ng-bind-html="data.title || 'Advertencia'"></p>
            <p class="warning" ng-bind-html="data.message || 'El proceso ha generado una advertencia.'"></p>
        </div>
        <div class="text-center col-md-12 button">
            <button ng-if="data.isFn" ng-click="funct()" class="button bg-color-warning-v2">
                {{data.messageButton || 'Continuar'}}
            </button>
        </div>
    </div>
</div>