<section class="panel">
    <header class="panel-heading">
        Puestos de Atención
    </header>
    <div class="panel-body" style="padding-bottom:40px;">
        @model Entities.Administracion.PuestoAtencion

        @{
            ViewBag.Title = "Delete";
            Layout = "~/Views/Shared/_LayoutAdministration.cshtml";
        }

        <h3>Eliminar</h3>

        <h4>Está seguro de eliminar el puesto de atención: @Html.DisplayFor(model => model.Descripcion)?</h4>
        <div>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-5">
                            <button type="submit"  class="btn btn-primary" ><i class="fa fa-trash-o"></i> Eliminar</button>
                        </div>
                        <div class="col-md-4">
                            
                            
                            @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                </div>

                
            }
        </div>
    </div>
</section>