
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Administración", "goAdministration") 
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Seguridad", "goSecurity")    
    </div>
    
</div>
