<div class="col-md-12 form">
    <div class="content">
        <section class="panel panel-default">
            <header class="panel-heading">
                <i class="fa fa-folder-open-o"></i>   Nuevo Registro
            </header>
            <div class="panel panel-body">
                <div class="form-horizontal">
                    <h4>Trabajo Social</h4>
                    <hr />
                    <div class="row">

                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail2">Fecha</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" id="Fecha" placeholder="" disabled="disabled" ng-model="TrabajoSocial.Registro.Fecha">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail2">Hora</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" id="Hora" placeholder="" disabled="disabled" ng-model="TrabajoSocial.Registro.Hora">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <header class="panel-heading" data-toggle="collapse" data-target="#areas">
                            Áreas
                        </header>
                        <div class="panel-body collapse in" id="areas">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Área Personal (Hobbies-Amigos(as), redes Sociales.)</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AreaPersonal" placeholder="" ng-model="TrabajoSocial.Registro.AreaPersonal"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Área Familiar</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AreaFamiliar" placeholder="" ng-model="TrabajoSocial.Registro.AreaFamiliar"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Área Sexual</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AreaSexual" placeholder="" ng-model="TrabajoSocial.Registro.AreaSexual"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Área Laboral</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AreaLaboral" placeholder="" ng-model="TrabajoSocial.Registro.AreaLaboral"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Área Pareja</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AreaPareja" placeholder="" ng-model="TrabajoSocial.Registro.AreaPareja"></textarea></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <header class="panel-heading" data-toggle="collapse" data-target="#psicoeducacion">
                            Psicoeducación
                        </header>
                        <div class="panel-body collapse in" id="psicoeducacion">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>InformacionPsicoeducacion</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="InformacionPsicoeducacion" placeholder="" ng-model="TrabajoSocial.Registro.InformacionPsicoeducacion"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Cumplimiento deberes</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="CumplimientoDeberes" placeholder="" ng-model="TrabajoSocial.Registro.CumplimientoDeberes"></textarea></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <header class="panel-heading" data-toggle="collapse" data-target="#antecedentessoportes">
                            Antecedentes (Revisión de soportes)
                        </header>
                        <div class="panel-body collapse in" id="antecedentessoportes">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>AntecedentesMedicos</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AntecedentesMedicos" placeholder="" ng-model="TrabajoSocial.Registro.AntecedentesMedicos"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>AntecedentesPsicofisicos</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AntecedentesPsicofisicos" placeholder="" ng-model="TrabajoSocial.Registro.AntecedentesPsicofisicos"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>AntecedentesLegales</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AntecedentesLegales" placeholder="" ng-model="TrabajoSocial.Registro.AntecedentesLegales"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>AntecedentesPatologicos</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="AntecedentesPatologicos" placeholder="" ng-model="TrabajoSocial.Registro.AntecedentesPatologicos"></textarea></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <header class="panel-heading" data-toggle="collapse" data-target="#zonasvulnerables">
                            Zonas Vulnerables
                        </header>
                        <div class="panel-body collapse in" id="zonasvulnerables">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>PrincipalesProblemasComunidad</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="PrincipalesProblemasComunidad" placeholder="" ng-model="TrabajoSocial.Registro.PrincipalesProblemasComunidad"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>ExistenciaOrganizacionesCcomunitarias</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="ExistenciaOrganizacionesCcomunitarias" placeholder="" ng-model="TrabajoSocial.Registro.ExistenciaOrganizacionesCcomunitarias"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>ExistenciaestablecimientosEducativos</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="ExistenciaestablecimientosEducativos" placeholder="" ng-model="TrabajoSocial.Registro.ExistenciaestablecimientosEducativos"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>PrincipalesLideresReconocidos</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="PrincipalesLideresReconocidos" placeholder="" ng-model="TrabajoSocial.Registro.PrincipalesLideresReconocidos"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>PrincipalesInstitucionesPresentes</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="PrincipalesInstitucionesPresentes" placeholder="" ng-model="TrabajoSocial.Registro.PrincipalesInstitucionesPresentes"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>EvaluacionRiesgo</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="EvaluacionRiesgo" placeholder="" ng-model="TrabajoSocial.Registro.EvaluacionRiesgo"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Conclusiones</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="Conclusiones" placeholder="" ng-model="TrabajoSocial.Registro.Conclusiones"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>MedidasTomar</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="MedidasTomar" placeholder="" ng-model="TrabajoSocial.Registro.MedidasTomar"></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Remision</label>
                                        </div><div class="col-md-12"><textarea class="form-control" id="Remision" placeholder="" ng-model="TrabajoSocial.Registro.Remision"></textarea></div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-12 col-md-12">
                                    <input type="button" value="Guardar" ng-click="TrabajoSocial.save()" class="btn btn-success" />
                                </div>
                            </div>
                            <message-custom type="info" title="Operación Finalizada" ng-if="TrabajoSocial.savedOK" funct="TrabajoSocial.LoadHistory()" messageButton="Aceptar"
                                            message="Registro guardado exitosamente!">
                            </message-custom>
                            <message-custom type="info" big ng-if="TrabajoSocial.savedFail"
                                            message="{{TrabajoSocial.messageFail}}">
                            </message-custom>
                        </div>
                    </div>
</section>
        </div>
   </div>
