<div class="col-md-12 form">
    <div class="content">
        <section class="panel panel-default">
            <header class="panel-heading">
                <i class="fa fa-folder-open-o"></i>   Nuevo Registro
            </header>
            <div class="panel panel-body">
                <div class="form-horizontal">
                    <h4>Psiquiatria</h4>
                    <hr />
                    <div class="row">

                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail2">Fecha</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" id="Fecha" placeholder="" disabled="disabled" ng-model="Psiquiatria.Registro.Fecha">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail2">Hora</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" id="Hora" placeholder="" disabled="disabled" ng-model="Psiquiatria.Registro.Hora">
                                </div>
                            </div>
                        </div>
                    </div>
             

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Motivo de Consulta</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="MotivoConsulta" placeholder="" ng-model="Psiquiatria.Registro.MotivoConsulta"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Enfermedad Actual</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="EnfermedadActual" placeholder="" ng-model="Psiquiatria.Registro.EnfermedadActual"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Antecedentes Personales</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="AntecedentesPersonales" placeholder="" ng-model="Psiquiatria.Registro.AntecedentesPersonales"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Antecedentes Familiares</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="AntecedentesFamiliares" placeholder="" ng-model="Psiquiatria.Registro.AntecedentesFamiliares"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Patrón de Consumo</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="PatronConsumo" placeholder="" ng-model="Psiquiatria.Registro.PatronConsumo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Examen Físico</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="ExamenFisico" placeholder="" ng-model="Psiquiatria.Registro.ExamenFisico"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Examen Mental</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="ExamenMental" placeholder="" ng-model="Psiquiatria.Registro.ExamenMental"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Paraclínicos</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="Paraclinicos" placeholder="" ng-model="Psiquiatria.Registro.Paraclinicos"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Prescripción de Tratamiento</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="PrescripcionTratamiento" placeholder="" ng-model="Psiquiatria.Registro.PrescripcionTratamiento"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Evolución y Pertinencia</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="EvolucionPertinencia" placeholder="" ng-model="Psiquiatria.Registro.EvolucionPertinencia"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-12 col-md-12">
                            <input type="button" value="Guardar" ng-click="Psiquiatria.save()" class="btn btn-success" />
                        </div>
                    </div>
                    <message-custom type="info" title="Operación Finalizada" ng-if="Psiquiatria.savedOK" funct="Psiquiatria.LoadHistory()" messageButton="Aceptar"
                                    message="Registro guardado exitosamente!">
                    </message-custom>
                    <message-custom type="info" big ng-if="Psiquiatria.savedFail"
                                    message="{{Psiquiatria.messageFail}}">
                    </message-custom>
                </div>        
            </div>
                </section>
        </div>
   </div>
