<div class="col-md-12 form">
    <div class="content">
        <section class="panel panel-default">
            <header class="panel-heading">
                <i class="fa fa-folder-open-o"></i>   Nuevo Registro
            </header>
            <div class="panel panel-body">
                <div class="form-horizontal">
                    <h4>Seguimiento de Salud Mental</h4>
                    <hr />
                    <div class="row">

                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail2">Fecha</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" id="Fecha" placeholder="" disabled="disabled" ng-model="SeguimientoSaludMental.Registro.Fecha">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail2">Hora</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" id="Hora" placeholder="" disabled="disabled" ng-model="SeguimientoSaludMental.Registro.Hora">
                                </div>
                            </div>
                        </div>
                    </div>
             

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Autoevaluación</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="Autoevaluacion" placeholder="" ng-model="SeguimientoSaludMental.Registro.Autoevaluacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Nivel de Permanencia</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="NivelPermanencia" placeholder="" ng-model="SeguimientoSaludMental.Registro.NivelPermanencia"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Nivel de Convivencia</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="NivelConvivencia" placeholder="" ng-model="SeguimientoSaludMental.Registro.NivelConvivencia"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Sexualidad</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="Sexualidad" placeholder="" ng-model="SeguimientoSaludMental.Registro.Sexualidad"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Objetivo de la Sesión</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="ObjetivoSesion" placeholder="" ng-model="SeguimientoSaludMental.Registro.ObjetivoSesion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Evolución</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="Evolucion" placeholder="" ng-model="SeguimientoSaludMental.Registro.Evolucion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Plan de Manejo</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="ExamenMental" placeholder="" ng-model="SeguimientoSaludMental.Registro.PlanManejo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-12 col-md-12">
                            <input type="button" value="Guardar" ng-click="SeguimientoSaludMental.save()" class="btn btn-success" />
                        </div>
                    </div>
                    <message-custom type="info" title="Operación Finalizada" ng-if="SeguimientoSaludMental.savedOK" funct="SeguimientoSaludMental.LoadHistory()" messageButton="Aceptar"
                                    message="Registro guardado exitosamente!">
                    </message-custom>
                    <message-custom type="info" big ng-if="SeguimientoSaludMental.savedFail"
                                    message="{{SeguimientoSaludMental.messageFail}}">
                    </message-custom>
                </div>        
            </div>
                </section>
        </div>
   </div>
